{% extends "base.html.twig" %}
{%  block title %}
    Welcome to my project!
{% endblock %}
{% block body %}
    <h1>Welcome to Store X!</h1>

    <h2>Featured products</h2>
    <table class="table">
        {% for product in products %}
            <tr>
                <td>Product: {{ product.name }}</td>
                <td>Product price:{{ product.price }}</td>
                <td><img src="{{ asset("images/") ~ product.imageFileName }}" alt="product image" class="img-thumbnail"></td>
            </tr>
        {% endfor %}
    </table>

    <p><a href="{{ path('list_products') }}">See all products</a></p>
    <p><a href="{{ path('admin') }}">Access admin view</a></p>
    <p><a href="{{ path('app_login') }}">Log in</a></p>
    <p><a href="{{ path('app_register') }}">Register</a></p>
    <p><a href="{{ path('app_logout') }}">Log out</a></p>
{%  endblock %}