{% extends "base.html.twig" %}
{# List all products. Allow adding products to shopping cart (uses ajax). #}
{% block title %}
Products listing
{% endblock %}
{% block body %}
<div id="result">
</div>
    {% if products is defined %}
        <table class="table">
            {% for product in products %}
                <tr>
                    <td>Product: {{ product.name }}</td>
                    <td>Product price:{{ product.price }}</td>
                    <td><img src="{{ asset("images/") ~ product.imageFileName }}" alt="product image" class="img-thumbnail"></td>
                </tr>
                <tr>
                    <td><button onclick="add_to_cart({{ product.id }})" class="btn btn-primary">Add to cart</button></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>No products added to store yet!</h2>
    {% endif %}

{%  endblock %}
{% block javascripts %}
    <script>

        /**
         * Ajax stuff for shopping cart controller actions. Using jQuery.
         */

        function add_to_cart(product_id) {
            var url = "{{ path("add_to_cart") }}" +"?id=" + product_id;
            $.ajax({
                url: url, success: function (result) {
                    process_result(result)
                }
            });
        }

        function process_result(result) {
            $("#result").html(result)
            setTimeout(function() {
                location.reload(); }, 1500);
        }
    </script>
{% endblock %}