{% extends "base.html.twig" %}
{% block title %}
    Edit products
{% endblock %}
{% block body %}


    <div id="result">
        {% if app.request.get('message') is defined %}
            {{ app.request.get('message') }}
        {% endif %}
    </div>
    <div id="edit-product-form">
    </div>

    <table class="table">
        {% for product in products %}
            <tr>
                <td>Product: {{ product.name }}</td>
                <td>Product price:{{ product.price }}</td>
                <td><img src="{{ asset("images/") ~ product.imageFileName }}" alt="product image" class="img-thumbnail"></td>
                {% if product.featured %}
                    <td><button class="btn btn-danger" onclick="unfeature_product({{ product.id }})">Remove from featured products</button></td>
                {% else %}
                    <td><button class="btn btn-secondary" onclick="make_product_featured({{ product.id }})">Make product featured</button></td>
                {% endif %}
            </tr>
            <tr>
                {# <td><a href="{{ path("edit_product") }}?id={{ product.id }}">Edit product</a></td> #}
                <td><button class="btn btn-primary" onclick="edit_product({{ product.id }})">Edit product</button></td>
            </tr>
        {% endfor %}
    </table>

{%  endblock %}

{% block javascripts %}
<script>
    function make_product_featured(product_id) {
        var url = "{{ path("make_product_featured") }}" +"?id=" + product_id;
        $.ajax({
            url: url, success: function (result) {
                process_result(result)
            }
        });
    }

    function unfeature_product(product_id) {
        var url = "{{ path("unfeature_product") }}" +"?id=" + product_id;
        $.ajax({
            url: url, success: function (result) {
                process_result(result)
            }
        });
    }

    function edit_product(product_id) {
        var url = "{{ path("edit_product") }}" +"?id=" + product_id;
        $.ajax({
            url: url, success: function (result) {
                process_form(result)
            }
        });
    }

    function process_result(result) {
        $("#result").html(result)
        setTimeout(function() {
            location.reload(); }, 1500);
    }

    function process_form(result) {
        $("#edit-product-form").html(result);
    }
</script>
{% endblock %}
