{% extends 'base.html.twig' %}

{% block title %}Shopping cart{% endblock %}

{% block body %}
    {% if products is defined %}
        <h2>Items in shopping cart</h2>
        <table class="table">
            {% for product in products %}
                <tr>
                    <td>Product: {{ product.name }}</td>
                    <td>Product price:{{ product.price }}</td>
                    <td><img src="{{ asset("images/") ~ product.imageFileName }}" alt="product image" class="img-thumbnail"></td>
                </tr>
                <tr>
                    <td><a href="{{ path("remove_from_cart") }}/?id={{ product.id }}">Remove from cart</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Shopping cart is empty</h2>
    {% endif %}
{% endblock %}
